.error_class {
	width: 60%;
	// background: red;
	margin: 0 auto;
	text-align: center;
	margin-top: 20vh;

	h1 {
		font-size: 4.3rem;
		color: gray;
	}


	p {
		font-size: 1.4rem;
		color: gray;
		
	}

}













