.search_box_on_rpage {
  width: 100%;
  min-height: 250px;
  background: red;
  position: absolute;
  left: 0;
  top: 56px;
}


.searchBoxPlaceholder {
  background: green;
  width: 100%;
  min-height: 200px;
}
