<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @verification.name %>
</p>

<%= link_to 'Edit', edit_verification_path(@verification) %> |
<%= link_to 'Back', verifications_path %>
