<br><br>

<div class="container">
	<h6>Bids</h6>
</div>

<div class="container">
<div class="row">
  <% @job.bids.each do |bid| %>
    <div class="bidcard">

      <div class="avatar">
      </div>
            <h2>Name</h2>
    </div>

  <% end %>
</div>

</div>
<br><br>
