<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">
		<h5> <i class="fas fa-paste"></i> CREATE A NEW JOB</h5>
    </li>
  </ol>
</nav>


<%= render 'form', job: @job %>

<%#= link_to 'Back', jobs_path %>
