<div class="head_rapper">

	<div class="container">
		<div class="row">
			<div class="col">

				<div class="finbox_home">
						
					<h2 class="title">Built for the Security Industry</h2>
					<p class="info_content">				
						Secure is a platform inspired by the way you work. both indivituals and business alike, you can Post and Bid on any Job, manage Job posts, and hire contractors.

					</p>
				</div>

			</div>
			<div class="col">
				<div class="sign_up_box_home">
					<%= render 'home/loginform' %>
				</div>
			</div>
		</div>

	</div>

</div>


<!-- <h2>Hello</h2> -->


<style>
	body {
		background:  white;
	}


	.mainN {
	    background: transparent !important;
	    box-shadow: 0 1px 6px rgba(57, 73, 76, 0.1);
	    width: 100% !important;
	}


</style>



<script>
	$( ".wrapper" ).removeClass( "container" );
	console.log("Removed Class Container")
</script>
