<div class="row show_page">


	<div class="col-md-3">
		<%= render 'home/sidemenu' %>

	</div>

	<div class="col-md-9">

		<div class="card">
		  <div class="card-header">
		  	<div class="row">
		  		<div class="col">
		  			<h4>
		  				Company Profile
				    </h4>

		  		</div>
		  	</div>
		    

		  </div>
		  <div class="card-body">
			  	<div class="remove_hr">
					<%= render 'form', company: @company %>
			  	</div>
		  </div>
		</div>

		
		

	</div>
</div>
