
<div class="search_box_on_rpage">
  <div class="container">
    <h2>search box </h2>
      <input type="search" name="" value="">
  </div>
</div>


<div class="searchBoxPlaceholder">

</div>

<%= render 'searches/searchresults' %>




<style media="screen">
  .searchbox {

    display: none !important
  }
</style>
