.hourly_card {
    background: #feca57 !important;
    // color: #222f3e !important;
    width: 82px;
    margin-top: -48px;
    position: relative;
    font-weight: 600;
    min-height: 43px;
    text-align: center;
    text-shadow: #0000001f 0px 0 3px;
    padding-top: 9px;
    color: white;
    margin-left: 10px;
    border-radius: 4px;
}